.App {
    display: flex;
    flex-direction: row;
}

.left {
    position: sticky;
    top: 1px;
    color: #fff;
    background: #0D0D0D;
    /* height: 100vh; */
    max-width: 420px;
}

.left-side {
    position: sticky;
    top: 1px;
}

.right {
    /* height: 100%; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background: #0D0D0D;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}