.profile-img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-bottom: 16px;
}

.persone-name {
  display: inline;
  font-size: 25px;
}

.verified-badge {
  display: inline;
  width: 23px;
  height: 23px;
}

.per-name {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.left-side {
  padding: 40px;
}

.user-name {
  font-size: 18px;
  color: gray;
}

.mini-titles {
  font-size: 16px;
  font-weight: 500;
  margin: 24px 0 12px;
  color: #808080;
}

.svg-style {
  width: 20px;
  height: 20px;
}

.svg-text {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
}

.skills-container {
  display: inline-flex;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border: 1px solid #8080808e;
  border-radius: 50px;
  margin: 0 6px 5px 0;
  padding: 6px 10px;
  gap: 6px;
}

.skills>img {
  width: 25px;
  height: 25px;
  border-radius: 60px;
  object-fit: cover;
}

.skills>p {
  font-size: 18px;
}